.B_B_main_1{


    height: 600px;
    width: 70%;
    background: #000;
    margin-top: 2.3%;
    margin-left: 15%;
    box-shadow: 10px 10px 40px 12px rgb(116, 123, 124);

}
.justforit{
    color: rgb(255, 255, 255);
    text-align: center;
    height: 32px;
}
h4{
    margin-top: 2px;
    margin-bottom: 7px;
}
.B_B_main_12{

    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
}
.B_B_main_121{

    background: #ffffff;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}
.btn_BB{
    height: 55px;
    width: 80%;
    margin-top: 9%;
    font-size: large;
    font-weight: 900;
    background-color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
}
.btn_BB:hover{
    background-color: #000;
    color: white;
}